<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상품 데이터 출력예제</title>
</head>
<body>
<h2>상품 데이터 출력예제</h2>

<table border="1">

  <thead>
  <tr>
    <td>순번</td>
    <td>상품명</td>
    <td>상품설명</td>
    <td>가격</td>
    <td>상품등록일</td>
  </tr>
  </thead>
  <tbody>
  <tr th:each="itemDto, status : ${itemDtoList}">
    <td th:switch="${status.even}">
      <!-- 짝수인 경우 -->
      <span th:case="true">짝수</span>
      <!-- 홀수인 경우 -->
      <span th:case="false">홀수</span>
    </td>
    <td th:text="${itemDto.itemNm}"></td>
    <td th:text="${itemDto.itemDetail}"></td>
    <td th:text="${itemDto.price}"></td>
    <td th:text="${itemDto.regTime}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>
